odoo-yaml-test
odoo14-addon-ssi_frequency
odoo14-addon-ssi_decorator
odoo14-addon-ssi_localdict_mixin
odoo14-addon-ssi_master_data_mixin
odoo14-addon-ssi_transaction_cancel_mixin
odoo14-addon-ssi_transaction_confirm_mixin
odoo14-addon-ssi_transaction_date_duration_mixin
odoo14-addon-ssi_transaction_done_mixin
odoo14-addon-ssi_transaction_open_mixin
odoo14-addon-ssi_transaction_ready_mixin
odoo14-addon-ssi_transaction_terminate_mixin
odoo14-addon-ssi_transaction_partner_mixin
odoo14-addon-ssi_transaction_date_due_mixin
odoo14-addon-ssi_partner_mixin
odoo14-addon-ssi_product_line_price_mixin
odoo14-addon-ssi_res_currency_m2o_configurator_mixin
odoo14-addon-ssi_res_partner_m2o_configurator_mixin
odoo14-addon-ssi_res_partner_bank_m2o_configurator_mixin
odoo14-addon-ssi_m2o_configurator_mixin
odoo14-addon-ssi_stock
odoo14-addon-ssi_account_account_m2o_configurator_mixin
odoo14-addon-ssi_account_journal_m2o_configurator_mixin
odoo14-addon-ssi_financial_accounting
odoo14-addon-ssi_sale
odoo14-addon-ssi_purchase_stock
