git+https://github.com/open-synergy/opnsynid-server-tools@14.0#subdirectory=setup/ssi_frequency
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_decorator
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_localdict_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_master_data_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_cancel_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_confirm_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_date_duration_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_done_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_open_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_ready_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_terminate_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_partner_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_transaction_date_due_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_partner_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_product_line_price_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_res_currency_m2o_configurator_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_res_partner_m2o_configurator_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_res_partner_bank_m2o_configurator_mixin
git+https://github.com/open-synergy/ssi-mixin@14.0#subdirectory=setup/ssi_m2o_configurator_mixin
git+https://github.com/open-synergy/ssi-stock@14.0#subdirectory=setup/ssi_stock
git+https://github.com/open-synergy/ssi-financial-accounting@14.0#subdirectory=setup/ssi_account_account_m2o_configurator_mixin
git+https://github.com/open-synergy/ssi-financial-accounting@14.0#subdirectory=setup/ssi_account_journal_m2o_configurator_mixin
git+https://github.com/open-synergy/ssi-financial-accounting@14.0#subdirectory=setup/ssi_financial_accounting
git+https://github.com/open-synergy/ssi-financial-accounting@14.0#subdirectory=setup/ssi_account_move_line_day_overdue
git+https://github.com/open-synergy/opnsynid-account-voucher@14.0#subdirectory=setup/ssi_voucher_mixin
git+https://github.com/open-synergy/opnsynid-account-voucher@14.0#subdirectory=setup/ssi_voucher_bank_cash
git+https://github.com/open-synergy/opnsynid-account-voucher@14.0#subdirectory=setup/ssi_voucher_cheque
